* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

canvas {
  display: block;
}

.screen {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.viewer {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow: hidden;
  padding-bottom: 30px;
}

.toolsColumn {
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 200px;     
  flex-shrink: 0;
  border-right: 2px solid gray;   
  border-left: 2px solid gray;     
}

.toolsUi, .blocksUI, .brushUI{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 0 10px;
}

.layerUI, .settingWarpper {
  padding: 0px 20px;
}

.Button {
  flex: 0 0 calc(25% - 4px); 
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonStr {
  font-weight: bold;
}

.BlockButton {
  flex: 1 0 20%;
}

.viewer canvas{
  flex: 1;
  min-width: 0;
}

.hidden {
  display: none !important;
}